src/main/mule/happy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c0d07395-0f58-426b-94bd-44978112823c" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="happyFlow" doc:id="938c50ca-d627-4d3d-b10f-6ad00e188bde" >
		<http:listener doc:name="Listener" doc:id="50d978fb-a9cb-4dc8-b021-e9045493314a" config-ref="HTTP_Listener_config" path="/test">
			<ee:repeatable-file-store-stream />
		</http:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a9e3a9a3-89ac-40f2-b9c9-bf29320871eb" />
		<logger level="INFO" doc:name="Logger" doc:id="5ccc9286-271a-4fc3-8c5d-0a6026e8be36" message="keep smiling"/>
	</flow>
</mule>
